html, body {
  padding: 0;
  margin: 0;
}

:root {
  --background-color-primary: #ebebeb;
  --background-color-secondary: #fafafa;
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --element-size: 4rem;
}

:root.dark {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #2d2d30;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
}
  
#app {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-family: MontSerrat;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: center;

  color: var(--text-primary-color);
  background-color: var(--background-color-primary);
}

.container {
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
}

@media screen and (min-width: 768px) {
  .container {
    width: 46rem;
  }
}

img {
  border-radius: 0.8%;
}

h1, h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 102, 204);
}

a:visited { 
  color: rgb(0, 102, 204); 
}

i {
  font-size: 1.5rem; 
  color: var(--text-primary-color);
}
i:hover {
  opacity: 0.67;
  transition: opacity 0.1s ease-in-out;
}
