html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: MontSerrat, Arial, sans-serif;
}

@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
  }
}

:root {
  --background-color-primary: #ebebeb;
  --background-color-secondary: #fafafa;
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --element-size: 4rem;
}

:root.dark {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #2d2d30;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
}

#app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 3;

  font-size: 16px;
  font-weight: 300;

  color: var(--text-primary-color);
  background-color: var(--background-color-primary);

  padding: 2rem;
}

.container {
  max-width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
}

img {
  border-radius: 0.8%;
}

h1, h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 102, 204);
}

a:visited { 
  color: rgb(0, 102, 204); 
}

i {
  font-size: 1.5rem; 
  color: var(--text-primary-color);
}
i:hover {
  opacity: 0.67;
  transition: opacity 0.1s ease-in-out;
}
